<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PosDatabase"
         connectionString="Server=EVPOS_TEST;Initial Catalog=EvPOS_Test;User ID=sa;Password=Bodum2014;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;"
         providerName="Microsoft.Data.SqlClient" />
    <add name="LicenseDatabase"
         connectionString="Server=EVPOS_TEST;Initial Catalog=EvPOSLicenses_Test;User ID=sa;Password=Bodum2014;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LicenseNumber" value="EVPOS-TEST-0001" />
    <add key="LicenseValidationMode" value="SqlDirect" />
  </appSettings>
</configuration>
